[Unit]
Description=Password manager

[Service]
Type=simple
ExecStart=/usr/local/bin/password_manager https://helloworld.com

[Install]
WantedBy=multi-user.target
