policy_module(password_manager, 1.0.0)

require {
    type unconfined_t;
}

# Declarations
type password_manager_t;
type password_manager_exec_t;
init_daemon_domain(password_manager_t, password_manager_exec_t)

permissive password_manager_t;

# password_manager local policy

# Allow the password manager to read the password file
allow password_manager_exec_t password_manager_t:file read;

# Deny all other domains access to the password file
dontaudit unconfined_t password_manager_t:file read;
dontaudit unconfined_t password_manager_t:file write;

allow password_manager_t self:fifo_file rw_fifo_file_perms;
allow password_manager_t self:unix_stream_socket create_stream_socket_perms;

# Define the password file as the entrypoint for the executing domain
allow password_manager_t password_manager_exec_t: file entrypoint; 

domain_use_interactive_fds(password_manager_t)

files_read_etc_files(password_manager_t)

miscfiles_read_localization(password_manager_t)
