
## <summary>policy for password_manager</summary>

########################################
## <summary>
##	Execute password_manager_exec_t in the password_manager domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`password_manager_domtrans',`
	gen_require(`
		type password_manager_t, password_manager_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, password_manager_exec_t, password_manager_t)
')

######################################
## <summary>
##	Execute password_manager in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`password_manager_exec',`
	gen_require(`
		type password_manager_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, password_manager_exec_t)
')
